// Styles for Nav Menus

.global-nav {
    list-style-type: none;
    background: $gray;
    display: flex;
    width: 100%;
    justify-content: space-around;
        ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $gray;
            li {
                display: flex;
                margin-right: auto;
                border-right: 1px solid white;
                &:first-child {
                    margin-right: auto;
                    border-left: 1px solid white;
                }
                &:last-child{
                    border-right: none;
                }
            }
        }    
}
.global-nav a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    &:hover{
        background-color: $gray-darker;
    }
}


/*
.global-nav ul ul {
    position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
}

.global-nav ul ul ul {
    top: 0;
    left: -999em;
}

.global-nav ul ul li:hover > ul,
.global-nav ul ul li.focus > ul {
    left: 100%;
}

.global-nav ul ul a {
    width: 200px;
}

.global-nav ul li:hover > ul,
.global-nav ul li.focus > ul {
    left: auto;
}

.global-nav a {
    padding: $spacer-15x-y $spacer-x;
    color: white;
    border: 1px solid $gray-dark;
} 

.global-nav a {
    text-decoration: none;
    padding: 15px;
    margin: 0px 30px;
}
*/
/* Small menu. */
.menu-toggle,
.global-nav.toggled ul {
    display: block;
}

@media screen and (min-width: 640px) {
    .menu-toggle {
        display: none;
    }

    .global-nav {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
    }

    .global-nav ul {
        display: flex;
    }

    .global-nav li {
        margin-right: $spacer-x;
    }
}