// Utility Classes
.ps{
	padding-left: 4em;
	padding-right: 4em;
}
.p2{
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.p4{
	padding-top: 1rem;
	padding-bottom: 1rem;
.p5{
	padding-top: 30px;
	padding-bottom : 30px;
}
}
.mid{
	display: flex;
	justify-content: center;
}